.card{
    padding:5px;
    margin-top: 20px;
    height:160px;
    cursor:pointer;
    position: relative;
    border:none;
 /* background: linear-gradient(120deg,rgb(173, 234, 245),rgb(215, 221, 250));  */
}
h1{
    margin-top: 30px;
    margin-left:10px;
    text-transform: uppercase;
    color:white;
    position: relative;
}
p{
    position: absolute;
    bottom: 20px;
    color: blueviolet;
}
#style-button{
    text-align: center;
}
#button{
 background: #eebbc3;
 border: none;
 padding:20px;
 margin: 50px;
 width:200px;
 color:#232946;
 font-weight: bold;
 font-size: large;
}
form{
    position: relative;
    top:-55px;
    left:750px;
    
}
input{
    padding:10px;
    border: none;;
    border-radius: 10px;
}
::-webkit-input-placeholder{
    font-size: small;
    color:#232946;

}
#btn{
    cursor:pointer;
    color:#232946;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    padding:10px;
    border: 1px solid #eebbc3;
    background: #eebbc3;

}
.search{
    margin-left: 12px;;
}
.search span{
color: white;
font-weight: bold;
font-size:large;
}
hr{
    background-color: white;
}
h4 {
    color: white;
    margin-top: 40px;
  }

  /* Responsive screen */

  @media screen and (min-width:320px) and (max-width:768px){
    #style-button {
        display: flex;
      }
      form {
        margin-top: 25px;
        position: relative;
        top: -5px;
        left: 100px;
      }
      p {
        position: absolute;
        bottom: 30px;
        color: blueviolet;
      }
      h1 {
        text-align: center;
      }
      #button{
        margin-left: 150px;
      }
    }
    @media screen and (min-width:769px) and (max-width:990px){
        #style-button {
            display: flex;
          }
          form {
            margin-top: 25px;
            position: relative;
            top: -5px;
            left: 180px;
          }
          p {
            position: absolute;
            bottom: 20px;
            color: blueviolet;
          }
          h1 {
            text-align: center;
          }
          #button{
            margin-left: 250px;
          }
          .card{
            padding: 0px;
          }
        }
    @media screen and (min-width:991px) and (max-width:1200px){
        #style-button {
            display: flex;
          }
          form {
            margin-top: 25px;
            position: relative;
            top: -75px;
            left: 570px;
          }
          h4{
              margin-top: 10px;
          }
          #button{
            margin-left: 350px;
          }
          p {
            position: absolute;
            bottom: 5px;
            color: blueviolet;
          }
        }